#main-screen-con {
   display: flex;
   flex-direction: column;
align-items: center;
justify-content: center;
  width: 100%;
    height: 90vb;
background-color: rgb(26, 108, 159);
   
 
  
  }
 #all-info-con{
    padding: 1%;
    display: flex;
    align-items: center;
   
    width:90%;
    height: 90%;
   background-color: white;
gap: 2%;
    border: 1px solid;
    border-radius: 13px;
 }
 #current-weather-con{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   width: 60%;
   height: 85%;
   background-color: white;
    gap: 2%;
    padding: 5%;
    
}
#current-location-image-con{
    height: auto;
     display: flex;
     flex-direction: row;
   width: 93%;
   justify-content: space-between;
   align-items: center;

}
 #temp-location{
   
display: flex;
flex-direction: column;
gap: 3%;
 }

 #wind-humidity-con{
    width: 98%;
    height: 55%;
   
    border-radius: 13px;
    background-image: linear-gradient(to bottom right,#e1e5ec,#909193);
 }
  #forecast-con{
    background-image: linear-gradient(to bottom right,#aaacae,#363636);
    width: 40%;
    height: 85%;
    
    border-radius: 13px;
  }
  
  
  /* 


  
  #currentLocationSection {
    display: flex;
flex-direction: column;
align-items: center;
  border: 1px solid;
   border-radius: 10px;
   padding: 3px;
  }
  
  #searchContainer {
   
  }
  
  #img-container {
   
  }
  
  #weatherIcon {

    max-width: 100px; 
  }
  
  #temperature {
  
    font-size: 2rem; 
    color: #333;
  }
  
  #currentLocation, #currentCity {
   
  }
  
  #H-W-C {
width: 70%;
    display: flex; 
    justify-content: space-between;
    height: auto;
  }
  
  #humidity, #wind {
   
    text-align: center; 
  }
  
  #humidityVal, #windVal {
    margin: 0;
    font-size: 1.5rem; 
  }
  
  #humidityWord, #windWord {
  margin: 0;
    font-size: 1rem; 
    color: #777; 
  }
  
   */